# Author : Awais Ali

# Batch : June Phase 2 OIBSIP

# Task : Iris Flower Classification

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
iris = pd.read_csv('Iris.csv')

In [4]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [6]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [7]:
train,test=train_test_split(iris, test_size = 0.25)
print(train.shape)
print(test.shape)

(112, 6)
(38, 6)

In [8]:
train_X =train[['SepalLengthCm','SepalWidthCm',	'PetalLengthCm',	'PetalWidthCm']]
train_y=train.Species
test_X = test[['SepalLengthCm','SepalWidthCm',	'PetalLengthCm',	'PetalWidthCm']]
test_y=test.Species

In [9]:
train_X.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
132            6.4           2.8            5.6           2.2
83             6.0           2.7            5.1           1.6
41             4.5           2.3            1.3           0.3
116            6.5           3.0            5.5           1.8
42             4.4           3.2            1.3           0.2

In [10]:
test_y.head()

96    Iris-versicolor
67    Iris-versicolor
98    Iris-versicolor
99    Iris-versicolor
49        Iris-setosa
Name: Species, dtype: object

In [11]:
Scaler=StandardScaler()

In [12]:
Scaler.fit(train_X)

StandardScaler()

In [13]:
standardized_data = Scaler.transform(train_X)
print(standardized_data)

[[ 0.6442305  -0.64535869  1.01652825  1.2835479 ]
 [ 0.16159628 -0.87555033  0.73789104  0.50787866]
 [-1.64828205 -1.79631687 -1.37975175 -1.17273801]
 [ 0.76488906 -0.18497542  0.96080081  0.76643508]
 [-1.7689406   0.27540785 -1.37975175 -1.30201621]
 [ 1.60949894  1.19617439  1.29516546  1.67138251]
 [-0.4416965   2.57732421 -1.32402431 -1.30201621]
 [ 2.21279172 -0.18497542  1.29516546  1.4128261 ]
 [-1.16564783 -1.3359336   0.40352639  0.63715687]
 [-0.92433072  0.96598276 -1.32402431 -1.17273801]
 [ 0.16159628 -0.18497542  0.57070871  0.76643508]
 [ 0.76488906 -0.18497542  1.12798313  1.2835479 ]
 [-0.32103794 -0.87555033  0.23634406  0.12004405]
 [-1.7689406  -0.18497542 -1.37975175 -1.30201621]
 [ 0.6442305   0.27540785  0.40352639  0.37860046]
 [-0.4416965   0.96598276 -1.37975175 -1.30201621]
 [-1.40696494  0.27540785 -1.21256943 -1.30201621]
 [-0.07972083 -0.87555033  0.73789104  0.89571328]
 [-0.92433072  0.96598276 -1.32402431 -1.30201621]
 [ 0.52357195 -0.64535869  0.73789104  0.37860046]
 [ 0.52357195 -1.79631687  0.34779895  0.12004405]
 [-1.04498927  0.73579112 -1.21256943 -1.0434598 ]
 [-0.92433072  1.65655766 -1.26829687 -1.17273801]
 [ 0.52357195 -1.3359336   0.62643615  0.37860046]
 [-1.52762349  0.04521621 -1.26829687 -1.30201621]
 [ 1.24752328  0.04521621  0.62643615  0.37860046]
 [-0.20037939  3.03770748 -1.26829687 -1.0434598 ]
 [ 1.00620617  0.50559949  1.07225569  1.67138251]
 [-0.92433072  1.42636603 -1.26829687 -1.0434598 ]
 [-0.20037939 -1.3359336   0.6821636   1.02499149]
 [-0.4416965  -1.56612524 -0.04229315 -0.26779057]
 [-0.20037939 -0.18497542  0.23634406 -0.00923416]
 [ 0.04093772 -0.18497542  0.23634406  0.37860046]
 [-0.92433072  1.65655766 -1.0453871  -1.0434598 ]
 [-1.04498927 -1.79631687 -0.26520292 -0.26779057]
 [-1.04498927  0.27540785 -1.43547919 -1.30201621]
 [ 1.85081605 -0.64535869  1.29516546  0.89571328]
 [-1.52762349  0.73579112 -1.32402431 -1.17273801]
 [-1.28630638  0.04521621 -1.21256943 -1.30201621]
 [-0.07972083 -0.64535869  0.73789104  1.54210431]
 [ 0.28225483 -0.64535869  0.51498127 -0.00923416]
 [ 1.12686472 -0.64535869  0.57070871  0.24932225]
 [ 0.40291339 -2.02650851  0.40352639  0.37860046]
 [-0.4416965  -1.3359336   0.12488918  0.12004405]
 [ 1.00620617 -1.3359336   1.12798313  0.76643508]
 [-1.16564783  0.04521621 -1.26829687 -1.43129442]
 [-0.56235505  1.8867493  -1.15684198 -1.0434598 ]
 [-1.04498927  0.96598276 -1.21256943 -0.78490339]
 [ 0.52357195  0.50559949  1.23943801  1.67138251]
 [-0.56235505 -0.18497542  0.40352639  0.37860046]
 [ 0.16159628 -0.41516706  0.40352639  0.37860046]
 [-1.28630638 -0.18497542 -1.32402431 -1.43129442]
 [ 0.76488906  0.27540785  0.73789104  1.02499149]
 [ 2.45410883  1.65655766  1.46234778  1.02499149]
 [ 1.24752328  0.27540785  1.07225569  1.4128261 ]
 [ 0.52357195 -0.87555033  0.62643615  0.76643508]
 [ 0.16159628  0.73579112  0.40352639  0.50787866]
 [-0.80367216  0.73579112 -1.32402431 -1.30201621]
 [ 0.40291339 -0.41516706  0.2920715   0.12004405]
 [-1.16564783  0.04521621 -1.26829687 -1.43129442]
 [-1.28630638  0.73579112 -1.21256943 -1.30201621]
 [ 0.28225483 -0.41516706  0.51498127  0.24932225]
 [ 1.12686472 -0.18497542  0.96080081  1.15426969]
 [-1.7689406  -0.41516706 -1.32402431 -1.30201621]
 [-0.92433072  1.65655766 -1.21256943 -1.30201621]
 [ 0.28225483 -1.10574196  1.01652825  0.24932225]
 [-0.56235505  1.42636603 -1.26829687 -1.30201621]
 [ 2.09213316 -0.18497542  1.57380267  1.15426969]
 [ 1.60949894  0.27540785  1.23943801  0.76643508]
 [ 1.36818183  0.27540785  0.51498127  0.24932225]
 [-1.52762349  0.27540785 -1.32402431 -1.30201621]
 [-0.07972083 -0.87555033  0.06916174 -0.00923416]
 [-0.4416965  -1.10574196  0.34779895 -0.00923416]
 [ 0.28225483 -0.18497542  0.62643615  0.76643508]
 [-0.07972083  2.11694094 -1.43547919 -1.30201621]
 [ 0.6442305  -0.87555033  0.84934592  0.89571328]
 [ 0.40291339 -0.64535869  0.57070871  0.76643508]
 [ 0.52357195 -0.41516706  1.01652825  0.76643508]
 [-0.80367216  2.34713257 -1.26829687 -1.43129442]
 [ 0.6442305  -0.41516706  0.2920715   0.12004405]
 [ 0.28225483 -0.64535869  0.12488918  0.12004405]
 [-0.07972083 -0.87555033  0.73789104  0.89571328]
 [ 1.00620617  0.50559949  1.07225569  1.15426969]
 [-0.20037939  1.65655766 -1.15684198 -1.17273801]
 [ 1.00620617  0.04521621  0.34779895  0.24932225]
 [-1.04498927  0.73579112 -1.26829687 -1.30201621]
 [ 0.6442305  -0.64535869  1.01652825  1.15426969]
 [-1.52762349  1.19617439 -1.54693408 -1.30201621]
 [ 0.6442305   0.04521621  0.96080081  0.76643508]
 [ 0.6442305   0.27540785  0.84934592  1.4128261 ]
 [ 1.00620617 -0.18497542  0.6821636   0.63715687]
 [ 2.21279172 -0.64535869  1.62953011  1.02499149]
 [ 0.52357195  0.50559949  0.51498127  0.50787866]
 [ 0.52357195 -1.3359336   0.6821636   0.89571328]
 [ 1.00620617  0.04521621  1.01652825  1.54210431]
 [ 0.88554761 -0.18497542  0.34779895  0.24932225]
 [-0.32103794 -0.41516706 -0.09802059  0.12004405]
 [-0.4416965  -1.79631687  0.12488918  0.12004405]
 [ 0.52357195  0.73579112  1.01652825  1.54210431]
 [-1.28630638  0.73579112 -1.0453871  -1.30201621]
 [-0.20037939 -1.10574196 -0.15374803 -0.26779057]
 [-1.28630638 -0.18497542 -1.32402431 -1.17273801]
 [ 0.28225483 -0.18497542  0.45925383  0.24932225]
 [ 1.7301575  -0.41516706  1.40662034  0.76643508]
 [-1.16564783 -0.18497542 -1.32402431 -1.30201621]
 [ 0.16159628 -2.02650851  0.6821636   0.37860046]
 [ 0.04093772  0.27540785  0.57070871  0.76643508]
 [-0.56235505  0.73579112 -1.26829687 -1.0434598 ]
 [-0.92433072  0.73579112 -1.26829687 -1.30201621]
 [-1.04498927  1.19617439 -1.32402431 -1.30201621]
 [ 1.24752328  0.04521621  0.90507336  1.15426969]
 [ 1.48884039 -0.18497542  1.18371057  1.15426969]]

# Task Completed